.contentBox {
    @include grid-column(12);

    &__container {
        @include clearfix();
        border: 1px solid $c-grey;
        padding: 1.875em 2.5em;
    }

    & + .contentBox {
        margin-top: 2.5em;
    }

    &--alert {
        background-color: $c-grey--light;
        .contentBox__container {
            border: 1px solid $c-red;
        }
    }

    @include grid-media($neat-medium-grid) {
        &--half {
            @include grid-column(6);
        }
    }
}