.footer {
    padding: 0.5em 1em;
    background-color: $c-grey--dark;
    text-align: center;

    @include grid-media($neat-medium-grid) {
        padding: 0;

        &__container {
            @include grid-container();
        }
        
        &__socialLinks {
            @include grid-column(4 of 12);
            text-align: right;
        }

        &__linkList {
            @include grid-column(8 of 12);
            text-align: left;
        }
    }
}

