.header {
    @include grid-container();
    background-color: $c-grey--light;

    &__branding {
        @include grid-column(6 of 12);

        img {
            max-width: 200px;
        }
    }

    &__heading {
        @include grid-column(6 of 12);
        text-align: right;
    }
}