.reNegotiationForm {
    &__heading {
        padding-left: 40px;
    }

    &__form {

    }

    &__row {
        @include clearfix();
        padding-left: 40px;

        & + & {
            margin-top: 16px;
        }
    }

    .priceInput {
        float: left;
    }

    &__submit {
        @extend %button-large;
        @extend %button-action;
        float: right;
    }

    &__comments {
        @extend %button-branded;
    }
}