%button-primary, button, .button {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    font-weight: normal;
    border: none;
    display: inline-block;
    background: $c-grey;
    color: $c-white;
    border: 1px solid $c-grey;
    padding: 0.4em 10px 0.3em 10px;
    margin: 0;
    font-size: 0.875em;
    line-height: 1.333333333;
    border-radius: 4px;
    letter-spacing: 1px;
    transition: color 150ms ease, background 150ms ease, border 150ms ease;
    box-shadow: none;

    &:hover, &:focus {
        cursor: pointer;
        text-decoration: none;
        color: $c-grey;
        background: $c-grey--light;
        border: 1px solid $c-grey;
    }

    &.disabled, :disabled {
        background: #C8C8C8;
        opacity: 0.6;
        cursor: not-allowed;
    }
}