input[type=text] {
    background-color: $c-white;
    border: 1px solid $c-grey;
    box-shadow: inset 0 0 1px 0 rgba($c-grey, 0.8);
    border-radius: 3px;
    min-height: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 1.75em;
    text-indent: 10px;
    font-family: 'arial' sans-serif;
    font-weight: bold;
}