input[type=text] {
    margin:0;
    display:inline-block;
    vertical-align:middle;
    white-space:normal;
    background:none;
    line-height:1;
    border: 1px solid $c-grey;
    box-shadow: inset 0 0 1px 0 rgba($c-grey, 0.8);
    border-radius: 3px;
    min-height: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 1.75em;
    text-indent: 10px;
    font-family: 'arial' sans-serif;
    font-weight: bold;
    box-sizing:content-box;
    -webkit-appearance: none;
    max-width: 100%;

    input:focus {
        outline:0;
    }
}