//------------------------------//
// Sizing
//------------------------------//

$max-container-width: 68.75rem;

//------------------------------//
// Colours
//------------------------------//

// Tones
$c-white: #FFFFFF;
$c-black: #231F20;

$c-grey: #AAAAAA;
$c-grey--light: #F1F2F2;
$c-grey--dark: #545353;

// Brand Colours
$c-lightPurple: #990099;
$c-darkPurple: #550066;

// Other
$c-blue: #00AEEF;
$c-red: #ED1C24;

//------------------------------//
// Breakpoints
//------------------------------//

$bp-small: 31.25em;
$bp-medium: 50em;
$bp-large: 64em;

// This variable map is used for the font-size mixin
$breakpoints: (
    small: $bp-small,
    medium: $bp-medium,
    large: $bp-large,
);

$neat-grid: (
    columns: 12,
    gutter: 2.5em,
);

$neat-small-grid: (
    columns: 12,
    gutter: 1.25em,
    media: $bp-small
);

$neat-medium-grid: (
    columns: 12,
    gutter: 2.5em,
    media: $bp-medium,
);

$neat-large-grid: (
    columns: 12,
    gutter: 2.5em,
    media: $bp-large,
);

// Increases gutters
$neat-medium-spaced-grid: (
    columns: 12,
    gutter: 2.5em,
    media: $bp-medium,
);

//------------------------------//
// Typography
//------------------------------//
$font-family: 'Source Sans Pro', sans-serif;

$base-font-family: $font-family;

$base-line-height: 1.2;

$base-font-size: 1em;

$h1-font-sizes: (
    null: (1.25em, 1.2),
    small: (1.5em, 1.2),
    medium: (1.625em, 1.2),
    large: (1.75em, 1.2),
);


$h2-font-sizes: (
    null: (1.75em, 1.2),
    small: (1.75em, 1.2),
    medium: (1.75em, 1.2),
    large: (1.75em, 1.2)
);

$h3-font-sizes: (
    null: (1.375em, 1.2),
    small: (1.375em, 1.2),
    medium: (1.375em, 1.2),
    large: (1.375em, 1.2),
);

//-------------------------