//------------------------------//
// Sizing
//------------------------------//

$max-container-width: 68.75em;

//------------------------------//
// Colours
//------------------------------//

// Tones
$c-white: #FFFFFF;
$c-black: #231F20;

$c-grey: #AAAAAA;
$c-grey--light: #F1F2F2;

// Brand Colours
$c-lightPurple: #990099;
$c-darkPurple: #550066;
$c-blue: #00AEEF;

//------------------------------//
// Breakpoints
//------------------------------//

$bp-small: 500px;
$bp-medium: 800px;
$bp-large: 1200px;

// This variable map is used for the font-size mixin
$breakpoints: (
    small: $bp-small,
    medium: $bp-medium,
    large: $bp-large,
);

//------------------------------//
// Typography
//------------------------------//
$font-family: 'Source Sans Pro', sans-serif;

$base-font-family: $font-family;

$base-line-height: 1.2;

$base-font-size: 1em;

$h1-font-sizes: (
    null: (1.75em, 1.2),
    small: (1.75em, 1.2),
    medium: (1.75em, 1.2),
    large: (1.75em, 1.2),
);


$h2-font-sizes: (
    null: (1.75em, 1.2),
    small: (1.75em, 1.2),
    medium: (1.75em, 1.2),
    large: (1.75em, 1.2),
);

$h3-font-sizes: (
    null: (1.375em, 1.2),
    small: (1.375em, 1.2),
    medium: (1.375em, 1.2),
    large: (1.375em, 1.2),
);

//-------------------------