//------------------------------//
// Breakpoints
//------------------------------//

$bp-small: 500px;
$bp-medium: 800px;
$bp-large: 1200px;

// This variable map is used for the font-size mixin
$breakpoints: (
    small: $bp-small,
    medium: $bp-medium,
    large: $bp-large,
);

//------------------------------//
// Typography
//------------------------------//
$font-family: 'Source Sans Pro', sans-serif;

$base-font-family: $font-family;

$base-line-height: 1.2;

$base-font-size: 1em;

$h1-font-sizes: (
    null: (1.75em, 1.2),
    small: (1.75em, 1.2),
    medium: (1.75em, 1.2),
    large: (1.75em, 1.2),
);


$h2-font-sizes: (
    null: (1.75em, 1.2),
    small: (1.75em, 1.2),
    medium: (1.75em, 1.2),
    large: (1.75em, 1.2),
);

$h3-font-sizes: (
    null: (1.375em, 1.2),
    small: (1.375em, 1.2),
    medium: (1.375em, 1.2),
    large: (1.375em, 1.2),
);